*{
	font-family: 'Roboto', sans-serif;
	pointer-events:auto;
	margin: 0;
	padding: 0;
  outline: none;
  box-sizing: border-box !important;
  z-index: 0;
}

body{
	background-color: #424242;
}

#nav{
  	position: fixed !important;
    top: 25px;right: 50px;
  	width: 300px;
    border-radius: 25px;
    height: 50px;
    background-color: #ddd;
    padding: 0 25px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: box-shadow,opacity 300ms;
    opacity: 0.2;
    z-index: 1000;
  }
	#nav:hover{
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
		opacity: 1;
		z-index: 2000;
	}
  #nav span {
  	color: #777;
  }
  #nav a {
    display: inline;
    padding-top: 15px;
    padding-left: 10px;
	  color: #000;
	  display: table-cell;
	  vertical-align:middle;
  }
  #nav a:hover {
	  color: #333;
  }
  #moreMenu {
  	display: none;
  	position: fixed;
    background-color: #ddd;
    border-radius: 10px;
    opacity: 0.2;
    z-index: 1500;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    transition: opacity 200ms;
    width: 200px;
    height: 400px;
  }
  #moreMenu:hover{
  	opacity: 1;
  }
  #moreMenu a:first-child{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  #moreMenu a{
    color: #000;
    display: block;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: 300ms;
  }
  #moreMenu a:hover{
    background-color: #ccc;
    transition: 0ms;
  }
  #contextMenu {
  	display: none;
  	position: fixed;
    background-color: #ddd;
    border-radius: 10px;
    padding: 10px;
    z-index: 999999;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    transition: opacity 200ms;
    width: 200px;
    height: 400px;
  }
  #topLevel {
  	width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;top: 0;
    pointer-events: none;
  	z-index: 0;
    background-color: transparent;
  }
.navCard{
	float: left;
	clear: none;
	display: inline-block;
	width: calc(25% - 20px);
	height: 250px;
	overflow-y: auto;
	background-color: #616161;
	margin: 10px 10px;
	border-radius: 2.5px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
	transition: 200ms;
	color: #fff;
}

.navCard-small{
	float: left;
	clear: none;
	display: inline-block;
	width: calc(33% - 16px);
	height: 150px;
	overflow-y: auto;
	background-color: #616161;
	margin: 10px 10px;
	border-radius: 2.5px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
	transition: 200ms;
	color: #fff;
}

.navCard:hover{
	background-color: #757575;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
}

.navCard-small:hover{
	background-color: #757575;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
}
.navCard-items{
	margin: 20px;
}
.navCard .title{
	font-weight: bold;
}
.navCard .shortcontent{
	margin-top: 15px;
}