  *{
    font-family: 'Roboto', sans-serif;
    pointer-events:auto;
  }
  
  #nav {
  	position: fixed;
    top: 25px;right: 50px;
  	width: 200px;
    border-radius: 25px;
    height: 50px;
    background-color: #212121;
    padding: 0 25px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    transition: box-shadow,opacity 300ms;
    opacity: 0.2;
    z-index: 10;
  }

	#nav:hover{
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    opacity: 1;
    z-index: 20;
  }
  
  #nav span {
  	color: #777;
  }

  #moreMenu {
  	display: none;
  	position: fixed;
    background-color: #424242;
    border-radius: 10px;
    padding: 10px;
    opacity: 0.2;
    z-index: 15;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    transition: opacity 200ms;
    width: 200px;
    height: 400px;
  }

  #moreMenu:hover{
  	opacity: 1;
  }

  #contextMenu {
  	display: none;
  	position: fixed;
    background-color: #555;
    border-radius: 10px;
    padding: 10px;
    z-index: 999;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    transition: opacity 200ms;
    width: 200px;
    height: 400px;
  }

  #topLevel {
  	width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;top: 0;
    pointer-events: none;
  	z-index: 0;
    background-color: transparent;
  }